
body{

    background-color: rgb(255, 255, 255);
    background: linear-gradient(180deg,rgb(0, 0, 0),#ffffff);
    background-repeat: no-repeat;
    /*background-image: url('image/auto.jpg');*/
    /* background-repeat: no-repeat;*/
}
.webGlobal :hover{
    /*background-color: rgb(36, 36, 36);*/
    font-family:'font_original',sans-serif;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}

h1 {
   font-style:italic;
   text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
    color: rgb(219, 0, 201);
    /*text-decoration: underline;*/
}

.firstParagraph {

    background-color: rgb(59, 59, 59);
    color: #ffffff;
    padding: 50px;
    border-radius: 10px;
}